<fieldset>
  <div class="control-group">
    <label class="control-label">Alert Email</label>
    <div class="controls">
      <input type="text" name="check[alert_email]" value="<%= check.getPollerParam('alert_email') || '' %>" class="span8" placeholder="Email address to send alerts for this check. Seperated by ','. Leave blank to use default in config."/>
    </div>
  </div>
</fieldset>
